<p id="notice"><%= notice %></p>

<p>
  <b>Type :</b>
  <%= @item.type_ %>
</p>

<p>
  <b>Host:</b>
  <%= @item.host_id %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Key :</b>
  <%= @item.key_ %>
</p>

<p>
  <b>Delay:</b>
  <%= @item.delay %>
</p>

<p>
  <b>History:</b>
  <%= @item.history %>
</p>

<p>
  <b>Trends:</b>
  <%= @item.trends %>
</p>

<p>
  <b>Lastvalue:</b>
  <%= @item.lastvalue %>
</p>

<p>
  <b>Prevvalue:</b>
  <%= @item.prevvalue %>
</p>

<p>
  <b>Status:</b>
  <%= @item.status %>
</p>

<p>
  <b>Value type:</b>
  <%= @item.value_type %>
</p>

<p>
  <b>Trapper hosts:</b>
  <%= @item.trapper_hosts %>
</p>

<p>
  <b>Units:</b>
  <%= @item.units %>
</p>

<p>
  <b>Multiplier:</b>
  <%= @item.multiplier %>
</p>

<p>
  <b>Delta:</b>
  <%= @item.delta %>
</p>

<p>
  <b>Prevorgvalue:</b>
  <%= @item.prevorgvalue %>
</p>

<p>
  <b>Formula:</b>
  <%= @item.formula %>
</p>

<p>
  <b>Error:</b>
  <%= @item.error %>
</p>

<p>
  <b>Lastlogsize:</b>
  <%= @item.lastlogsize %>
</p>

<p>
  <b>Logtimefmt:</b>
  <%= @item.logtimefmt %>
</p>

<p>
  <b>Template:</b>
  <%= @item.template_id %>
</p>

<p>
  <b>Valuemap:</b>
  <%= @item.valuemap_id %>
</p>

<p>
  <b>Delay flex:</b>
  <%= @item.delay_flex %>
</p>

<p>
  <b>Params:</b>
  <%= @item.params %>
</p>

<p>
  <b>Data type:</b>
  <%= @item.data_type %>
</p>

<p>
  <b>Authtype:</b>
  <%= @item.authtype %>
</p>

<p>
  <b>Mtime:</b>
  <%= @item.mtime %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
